*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
a[href]{
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a:focus, a:hover{
    text-decoration: none;
}
.font-12{
    font-size: 12px;
}
.btn-rounded{
    border-radius: 30px;
}

.portfolio, .testimonial, .services,#skills{
    background: #eff8fe;
}
.bg_magic{
    background-color: #f5f7fa;
}
.magic_input{
    background: #f5f7fa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    outline: 0 none;
    padding: 9px 20px 12px;
    color: #000;
    letter-spacing: .22px;
    transition: all .3s ease;
    height: 40px;
}

.section_title{
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.section_title::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #3fbbc0;
    bottom: 0;
    left: calc(50% - 25px);
}

/*--------------------
# Bootstrap Override
 */
.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus,.custom-select.is-valid, .was-validated {
    border-color: #dc3545 !important;
    box-shadow:none !important;
}
.custom-select:valid, .was-validated .custom-select:valid{
    border-color: green !important;
    box-shadow:none !important;
}


/****  Start magic fancy title *****/
.magic-fancy-title span:before,.magic-fancy-title span:after,.magic-fancy-title span small::before,.magic-fancy-title span small::after{
    background-color: #033b4a;
}
.magic-fancy-title {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px 0px 30px;
}
.magic-fancy-title h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 0px 0px 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.magic-fancy-title span {
    display: inline-block;
    position: relative;
    padding: 0px 2px;
}
.magic-fancy-title span:before {
    content: '';
    position: absolute;
    left: -75px;
    top: 14px;
    width: 75px;
    height: 1px;
}
.magic-fancy-title span:after {
    content: '';
    position: absolute;
    right: -75px;
    top: 14px;
    width: 75px;
    height: 1px;
}
.magic-fancy-title span i {
    font-size: 25px;
    color: #47BEC3;
}
.magic-fancy-title span small {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.magic-fancy-title span small:before {
    content: '';
    position: absolute;
    left: -40px;
    top: 11px;
    width: 40px;
    height: 1px;
}
.magic-fancy-title span small:after {
    content: '';
    position: absolute;
    right: -40px;
    top: 11px;
    width: 40px;
    height: 1px;
}
/*End magic fancy title*/


/*----------------------------------------------
#  Header area
 ----------------------------------------------*/

#header_section{

}
#header_section .header_top{
    background-color: #eff8fe;
}
.header_bottom ul.main-menu li a{
    display: block;
    position: relative;
    color: #555555;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px!important;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 700;
}
.header_bottom ul.main-menu li a:hover{
    /*background-color: #47BEC3;*/
    color: #47BEC3 !important;
}
.header_bottom ul.main-menu li.active a{
    /*background-color: #47BEC3 !important;*/
    color: #47BEC3 !important;
    font-weight: 700;
}
.navbar{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.095) !important;
}

.hero_banar_section{
    position: relative;
    background: url("../img/find_bg.jpg") no-repeat 50% 50%/cover;
    height: 75vh;
}

.hero_banar_section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);

}

.hero_banar_section .hero_banar_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}


/*---------------------------
#  Department section
------------------------------- */
.single-department {
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 2px 4px 20px rgba(72, 73, 121, 0.15);
    padding: 30px 15px;
    height: 18rem;
    background-color: #ffffff;
}
.single-department i {
    font-size: 35px;
    background-color: #eaeaea;
    color: #01d6a3;
    height: 75px;
    width: 75px;
    display: inline-block;
    line-height: 75px;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.single-department:hover i {
    background-color: #01d6a3;
    color: #ffffff;
}


.single-department h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.single-department p {
    margin-bottom:0px;
}


/*----------------------------
#   Dedicated doctor section
 ------------------------------*/
#dedicated_doctors_section{
    background-color: #f7fcfc;
}
#dedicated_doctors_section .member{
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(63, 187, 192, 0.1);
}
#dedicated_doctors_section .member .member-info{
    padding: 25px 15px;
}



/*--------------------------------------------------------------
# Footer  Section
--------------------------------------------------------------*/
#footer {
    background: rgb(222, 233, 243);
    padding: 0 0 30px 0;
    color: #555555;
    font-size: 14px;
}

#footer .footer-top {
    background: #e5eff9;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #3fbbc0;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #65c9cd;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #3fbbc0;
    font-size: 16px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #555555;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #3fbbc0;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #3fbbc0;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #65c9cd;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}



/*------------------------------------
# Login section
-------------------------------------- */

#login_section,#registration_section{
   height: 100vh;
}

/*------------------------------------
# User Dashboard section
-------------------------------------- */


.user_dashboard_menu_part h6{
    position: absolute;
    top: -6px;
    left: 0px;
    text-transform: uppercase;
    background: #fff;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: 8px;
    color: #dadada;
}
.user_dashboard_menu ul > li > a {
    display: block;
    padding: 0.625rem 1rem;
}
.user_dashboard_menu ul > li > a {
    padding: 0.55rem 1.2rem !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    color: #777 !important;
    border-left: 3px solid transparent;
    border-radius: 0 !important;
}
.user_dashboard_menu ul li a:hover {
    background: #e5eff9 !important;

}
.user_dashboard_menu ul li a.active {
    background: #f3f3f3;
    border-left: 3px solid #b3e1f9;
}
.user_dashboard_widget a .card{
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.user_dashboard_widget a:hover .card{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}

/*--------------------------------------
#   All Doctors Section
 ---------------------------------------*/
#all_doctors_section {

}
.all_single_doctors_dept ul li{
    border-bottom: 1px solid #dee2e6!important;
}
.all_single_doctors_dept ul li:last-child{
    border-bottom: 0 !important;
}
.all_single_doctors_dept ul li a{

}
.all_single_doctors_dept ul li a i{
    margin-right: 5px;
}
.all_single_doctors > .card{
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.all_single_doctors > .card:hover{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}


.all_single_doctors_right p{
    margin-bottom: 9px;
    font-size: 14px;
}
.all_single_doctors_right p i{
    background-color: #F8E5E5;
    color: green;
    padding: 5px;
    border-radius: 25px;
    font-size: 12px;
    margin-right: 5px;
}

/*---------------------------------
# Contact Section
-------------------------------------- */

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
    padding: 20px 0 30px 0;
}

.contact .info-box i {
    font-size: 32px;
    color: #3fbbc0;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #c5ebec;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
    padding: 30px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br + br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
    background-color: #3fbbc0;
}

.contact .php-email-form input {
    padding: 20px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #3fbbc0;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #65c9cd;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*---------------------------------
# All departments Section
-------------------------------------- */
#department_details_section .section_overlay{



}

#department_details_section .dept-icon i{
    font-size: 35px;
    text-align: center;
    background-color: #eaeaea;
    color: #01d6a3;
    height: 80px;
    width: 80px;
    display: inline-block;
    line-height: 80px;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    -webkit-transition: all .5s;
    transition: all .5s;
}
#department_details_section .card > .card-body:hover .dept-icon i {
    background-color: #01d6a3;
    color: #ffffff;
}

/*------------------------------
#doctors_info_editor
---------------------------------*/
#doctors_datails_setion .doctors_info_editor table tr td{
    border: 1px solid #ddd;
    padding: 10px;
}